:root {
  --vp-home-hero-name-color: var(--vp-c-text-1);
  --vp-c-brand-1: #0fa0f0;
  --vp-c-brand-2: #0b8cd6;
  --vp-c-brand-3: #2ab6ff;
  --vp-c-brand-soft: #e3f3ff;
}

:root.dark {
  --vp-c-brand-1: #6ccbff;
  --vp-c-brand-2: #4dbbff;
  --vp-c-brand-3: #26aeff;
  --vp-c-brand-soft: #0c2a3a;
}

.VPNavBar.home {
  .title {
    display: none;
  }

  .search {
    padding-left: 0px;
  }
}

@media (max-width: 768px) {
  .VPNavBar.home .content-body {
    flex: 1;
    justify-content: space-between;
  }

  .search button {
    padding-left: 0px;
  }
}

.VPNavBar img.VPImage.logo {
  height: 30px;
}

.VPNavBar .github-stars {
  margin-left: 20px;
}

.VPHomeHero .name.clip {
  color: transparent;
  -webkit-text-fill-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}

.VPHomeHero .name::before {
  content: "";
  display: inline-block;
  width: 4em;
  height: 1.5em;
  -webkit-mask: url("/logo.svg") no-repeat center / contain;
  background-color: var(--vp-c-text-1);
  mask: url("/logo.svg") no-repeat center / contain;
  vertical-align: middle;
  margin-bottom: 0.15em;
  margin-right: 0.6rem;
  margin-left: -0.7rem;
}

.VPNavBarTitle {
  .title {
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
}

.heading {
  .name {
    color: var(--vp-c-text-1);
    font-weight: 800;
    font-size: 3.8rem;

    @media (max-width: 960px) {
      font-size: 3.5rem;
    }

    @media (max-width: 640px) {
      font-size: 2.8rem;
    }
  }
}

.main {
  .tagline {
    @media (max-width: 640px) {
      font-size: 1rem;
    }
  }
}

.badged-header {
  display: flex;
  align-items: center;
  gap: 16px;

  .VPBadge {
    margin-top: 8px !important;
  }
}

.VPBadge {
  font-family: var(--vp-font-family-mono);
}

.vp-doc table {
  display: table;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
}

.vp-doc table a {
  color: var(--vp-c-text-1);
  font-weight: 400;
}

.vp-doc code {
  color: var(--vp-c-text-1) !important;
}

.vp-doc table a:hover {
  color: var(--vp-c-text-1);
}

.docblock {
  margin-bottom: 24px;
}

.docblock-class {
  padding-top: 16px;
}

.docblock .custom-block {
  padding-top: 8px;
}

.docblock .custom-block-title {
  display: none;
}

.description a {
  color: var(--vp-c-text-1);
  font-weight: 400;
}

.description a:hover {
  color: var(--vp-c-text-1);
}

.docblock .definition {
  font-family: var(--vp-font-family-mono);
  font-weight: 500;
}

.docblock .definition h3 {
  font-size: var(--vp-font-size-base);
  font-weight: 500;
  margin-top: 0px;
}

.docblock .definition h3 .name {
  font-weight: 600;
  color: var(--vp-c-brand-1);
}

.docblock .definition h3 .type {
  font-size: 14px;
  color: var(--vp-c-text-3);
}

.docblock .definition h3 .type a {
  color: var(--vp-c-text-3);
}

.docblock .description .type {
  font-family: var(--vp-font-family-mono);
}

.docblock .description .inner-type,
.docblock .description .inner-type a,
.docblock .description .inner-type a:hover {
  font-size: 13px;
  font-family: var(--vp-font-family-mono);
  color: var(--vp-c-text-3);
}

.docblock table {
  width: 100%;
  table-layout: auto; /* allow intrinsic sizing */
}

.docblock table :is(th:first-child, td:first-child) {
  white-space: nowrap;
  width: 1%;
  max-width: 40%;
}

.docblock table :is(th:nth-child(2), td:nth-child(2)) {
  width: 99%;
  overflow-wrap: anywhere;
}

.system-list li img {
  display: inline;
}
